@model List<BuidlingRoomCityVM>

@{
    ViewData["Title"] = "Buildings In City";
    
}
<br />
<br />
<div class="jumbotron-detail row">
    <div class="col-sm-8 offset-3 row">
        <div class="col-sm-6 display-6">Buildings in @Model[0].cityName</div>
        <div class="col-sm-3">
            <a class="btn btn-primary" asp-area="" asp-controller="Home"
               asp-action="InjectionDemo">Back to selection</a>
        </div>
        <hr class="col-sm-9" />
    </div>
    <div class="city-container ">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Building</th>
                    <th>Room</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td>@item.buildingId</td>
                        <td>@item.buildingName</td>
                        <td>@item.roomName</td>
                        <td>@item.capacity</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
